
  <nav class="navbar navbar-expand-lg fixed-top bg-body-tertiary" style="background-color: #e3f2fd;">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Medi-secure Conference</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse  d-flex justify-content-center" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <p class="nav-link active" aria-current="page" routerLink="/sponsers" routerLinkActive="active">Sponsor</p>
          </li>
          <li class="nav-item mx-2">
            <p class="nav-link" routerLink="/cfp" routerLinkActive="active">CFP</p>
          </li>
          <li class="nav-item">
            <p class="nav-link" routerLink="/contact" routerLinkActive="active">Contact</p>
          </li>
        
        </ul>
      </div>
      <button type="button" class="btn btn-success">Register</button>
    </div>
  </nav>

